<main>
    <section class="form-section">

<form class="auth-form" action="/login" method="post">
	<div class="flex-column">
		<label>Email </label>
	</div>
	<div class="inputForm">
		<img src="/assets/atrate.svg" alt="">
		<input type="email" name="email" class="input" placeholder="Enter your Email" />
	</div>
    
	<div class="flex-column">
        <label>Password </label>
	</div>
	<div class="inputForm">
        <img src="/assets/lock.svg" alt="">
		<input type="password" name="password" class="input" placeholder="Enter your Password" />
		<img src="/assets/eye.svg" alt="" />
	</div>

	<div class="flex-row">
		<div>
			<input type="checkbox" />
			<label>Remember me </label>
		</div>
		<span class="span">Forgot password?</span>
	</div>
	<button class="button-submit">Sign In</button>
	<p class="p">
		Don't have an account? <a href="/register" class="span">Sign Up</a>
	</p>
	<p class="p line">Or With</p>

	<div class="flex-row">
		<button class="btn google">
            <img src="/assets/google.svg" alt="logo">
            Google
            </button
            ><button class="btn apple">
                <img src="/assets/apple.svg" alt="logo">
                Apple
            </button>
	</div>
</form>

    </section>
</main>
