<main>
    <section class="form-section">
<form class="form" action="/register" method="post">
	<div class="flex-column">
		<label>Name </label>
	</div>
	<div class="inputForm">
		<img src="/assets/user.svg" alt="" />
		<input type="text" class="input" placeholder="Enter your Name" name="name" />
	</div>

	<div class="flex-column">
		<label>Email </label>
	</div>
	<div class="inputForm">
		<img src="/assets/atrate.svg" alt="" />
		<input type="text" class="input" placeholder="Enter your Email" name="email" />
	</div>

	<div class="flex-column">
		<label>Password </label>
	</div>
	<div class="inputForm">
		<img src="/assets/lock.svg" alt="" />
		<input type="password" class="input" placeholder="Create a Password" name="password" />
		<img src="/assets/eye.svg" alt="" />
	</div>

	<button class="button-submit">Create an Account</button>
	<p class="p">
		Already have an account? <a href="/login" class="span">Login</a>
	</p>
	<p class="p line">Or With</p>

	<div class="flex-row">
		<button class="btn google">
			<img src="/assets/google.svg" alt="logo" />
			Google</button
		><button class="btn apple">
			<img src="/assets/apple.svg" alt="logo" />
			Apple
		</button>
	</div>
</form>

    </section>
</main>
