<footer class="footer">
	<section class="useful-links-container">
		<article>
			<h2>Product</h2>
			<ul>
				<li>About</li>
				<li>Team</li>
				<li>Careers</li>
			</ul>
		</article>
		<article>
			<h2>Support</h2>
			<ul>
				<li>How it works</li>
				<li>Trust & Safety</li>
				<li>Help Centre</li>
			</ul>
		</article>
		<article>
			<h2>Discover</h2>
			<ul>
				<li>Guides</li>
				<li>Stories</li>
				<li>News</li>
			</ul>
		</article>
		<article>
			<h2>Resources</h2>
			<ul>
				<li>Customer Stories</li>
				<li>Cost Calculator</li>
				<li>Startup Cities</li>
			</ul>
		</article>
		<article>
			<h2>Browse</h2>
			<ul>
				<li>Freelance Services</li>
				<li>Freelance Skills</li>
				<li>Partnerships</li>
			</ul>
		</article>
	</section>
	<section class="social-copy-container">
		<article class="social-media">
            <a href="https://github.com/shahbaz4783" target="_blank">
				<img src="/assets/social/github.svg" alt="" />
			</a>
			<a href="https://www.linkedin.com/in/shahbaz4783" target="_blank">
				<img src="/assets/social/linkedin.svg" alt="" />
			</a>
            <a href="https://twitter.com/shahbaz4783" target="_blank">
				<img src="/assets/social/twitter.svg" alt="" />
			</a>
			<a href="https://www.youtube.com/@indimerz/featured" target="_blank">
				<img src="/assets/social/youtube.svg" alt="" />
			</a>
            <a href="https://www.instagram.com/shahbaz04783" target="_blank">
				<img src="/assets/social/instagram.svg" alt="" />
			</a>
		</article>
		<article class="copyright-year">
			<p>
				&copy SkillHub Connect Ltd. <%= new Date().getFullYear() %>
			</p>
		</article>
	</section>
</footer>
