<header id="navigation">
	<div id="logo">
		<a href="/">SkillHub Connect</a>
	</div>
	<nav>
		<ul>
			<li>
				<a href="/services/all">Browse Services</a>
			</li>
			<li>
				<a href="/jobs/all">Browse Jobs</a>
			</li>
			<li>
				<a href="/support">Support</a>
			</li>
			<li>
				<a href="/login">Login</a>
			</li>
		</ul>
	</nav>
	<article class="user-actions">
		<input
			placeholder="Search for services..."
			class="search"
			name="text"
			type="search"
			autocomplete="off"
		/>
		<div>
			<a href="/cart"><img src="/assets/cart.svg" alt="" /></a>
			<a href="/admin"><img src="/assets/user.svg" alt="" /></a>
		</div>
	</article>
</header>
