<header id="navigation">
	<div id="logo">
		<a href="/">SkillHub Connect</a>
	</div>
	<nav>
		<ul>
			<li><a href="/products">Products</a></li>
			<li><a href="/about">About</a></li>
		</ul>
	</nav>
	<article class="user-actions">
		<div>
			<a href="/service">Browse</a>
			<a href="/support">Support</a>
		</div>
		<input placeholder="Search for services..." class="search" name="text" type="search" autocomplete="off">
		<div>
			<a href="/cart"><img src="/assets/cart.svg" alt=""></a>
			<a href="/admin"><img src="/assets/user.svg" alt=""></a>
		</div>
	</article>
</header>