<header id="navigation">
	<div id="logo">
		<a href="/">SkillHub Connect</a>
	</div>

	<nav>
		<ul>
			<li>
				<a class="nav <%= path === '/services' ? 'activeNav' : '' %>" href="/services/all">Browse Services</a>
			</li>
			<li>
				<a class="nav <%= path === '/jobs' ? 'activeNav' : '' %>" href="/jobs/all">Browse Jobs</a>
			</li>
			<li>
				<a class="nav <%= path === '/support' ? 'activeNav' : '' %>" href="/support">Support</a>
			</li>
			<% if (!isAuth) {%>
			<li>
				<a class="nav <%= path === '/login' ? 'activeNav' : '' %>" href="/login">Login</a>
			</li>
			<% } %>
		</ul>
	</nav>
	<article class="user-actions">
		<input
			placeholder="Search for services..."
			class="search"
			name="text"
			type="search"
			autocomplete="off"
		/>
		<div>
			<a href="/cart"><img src="/assets/cart.svg" alt="" /></a>
			<% if (isAuth) { %>
			<a href="/admin"><img src="/assets/user.svg" alt="" /></a>
			<% } %>
		</div>
	</article>
</header>
