<article class="add-card">
    <div class="icon-container">
        <a class="icon-link" href="/admin/<%= path === '/services/all' ? 'service' : 'job' %>/add">
            <img src="/assets/plus.svg" alt="+">
        </a>
    </div>
    <h2><%= path === '/services/all' ? "Add a New Service" : 'Post a new Job'%></h2>
</article>