@use './mixins' as m;

.logo {
	font-size: 1.3em;
	padding: 1em 0;
	font-family: var(--secondary-font);
	text-align: left;
}

.img-container {
	img {
		width: 100%;
		object-fit: cover;
		aspect-ratio: 5/3;
		mix-blend-mode: multiply;
	}
}

.form-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 90dvh;
	justify-content: center;
}

// Layout Heading
.head {
	@include m.flex-column(1em);
	align-items: flex-start;

	h2 {
		@include m.heading-font;
	}
	p {
		@include m.para-font;
	}
}

// Post Head
.post-head {
  @include m.flex-column(1em);
  padding-right: 2em;

  h2 {
    font-size: clamp(1.5em, 2vw, 2em);
    font-family: var(--serif-font);
  }

  p {
    font-size: clamp(1em, 1vw, 1.6em);
    font-family: var(--body-font);
  }

  @media (max-width: 940px) {
    width: 100%;
  }
}

// Page Heading

.page-head {
  @include m.flex-column(1em);
  width: 50%;
  min-height: 40dvh;

  h2 {
    font-size: clamp(2em, 3vw, 4em);
    font-family: var(--serif-font);
    margin-bottom: 0.4em;
  }

  p {
    font-size: clamp(1em, 1vw, 1.6em);
    font-family: var(--body-font);
  }

  @media (max-width: 940px) {
    width: 100%;
  }
}

// Budget Exp Layout
.budget-exp {
		display: flex;
		gap: 5em;

		h3 {
			font-size: 1em;
		}

		p {
			font-size: 1em;
			color: var(--color-dull);
		}
	}

  // Tags
  .tags {
    @include m.flex-column(1em);

    article {
      display: flex;
      flex-wrap: wrap;
      gap: 1em;

      p {
        border-radius: 1.2em;
        padding: 0.6em;
        color: #5e6d55;
        background-color: #f2f7f2;
      }
    }
  }