@use './mixins' as m;

.logo {
	font-size: 1.3em;
	padding: 1em 0;
	font-family: var(--secondary-font);
	text-align: left;
}

.img-container {
	img {
		width: 100%;
		object-fit: cover;
		aspect-ratio: 5/3;
		mix-blend-mode: multiply;
	}
}

.form-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 90dvh;
	justify-content: center;
}

// Layout Heading
.head {
	@include m.flex-column(1em);
	align-items: flex-start;

	h2 {
		@include m.heading-font;
	}
	p {
		@include m.para-font;
	}
}


// Page Heading

.page-head {
  @include m.flex-column(1em);
  width: 50%;
  min-height: 40dvh;

  h2 {
    font-size: clamp(2em, 3vw, 4em);
    font-family: var(--serif-font);
    margin-bottom: 0.4em;
  }

  p {
    font-size: clamp(1em, 1vw, 1.6em);
    font-family: var(--body-font);
  }

  @media (max-width: 940px) {
    width: 100%;
  }
}