@import url('https://fonts.googleapis.com/css2?family=Inter&family=Noto+Sans&family=Open+Sans&family=Poppins&family=Roboto&display=swap');

// Colors
:root {
	--primary-color: black;
	--primary-color-light: yellow;
	--primary-color-dark: blue;
	--bg-color: #ecf0f1;
	--link-color: #2ecc71;
}

// Fonts

:root {
	--primary-font: 'Inter', sans-serif;
	--secondary-font: 'Noto Sans', sans-serif;
    --heading-font: 'Open Sans', sans-serif;
    --body-font: 'Poppins', sans-serif;
    --alert-font: 'Roboto', sans-serif;
}
