<main>
    <h1>------------</h1>
    <h2>Landing Page is under construction</h2>
    <h1>------------</h1>
    <div>
        <img src="https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExdW1nZ2U2d2I5Nm5kMWs2OHF4bTA2c284eTBnZzhhdzhmcm42NmlpdCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/Mah9dFWo1WZX0WM62Q/giphy.gif" alt="">
    </div>
</main>