<main class="landing-page">
	<section class="hero">
		<article class="text-container">
			<section class="slogan">
				<div class="heading">
					<h1>Redefine</h1>
					<h1>the norm</h1>
				</div>
				<div class="para">
					<p>Break free from tradition. Assemble your dream team today.</p>
					<p>Right now. Right here.</p>
				</div>
				<div class="link">
					<a href="/register">
						<button>
							Get Started
							<div class="arrow-wrapper">
								<div class="arrow"></div>
							</div>
						</button>
					</a>
				</div>
			</section>
			<section class="company-icons-wrapper">
				<h3>Trusted by</h3>
				<div>
					<img src="/assets/microsoft.svg" alt="" />
					<img src="/assets/airbnb.svg" alt="" />
					<img src="/assets/bissell.svg" alt="" />
				</div>
			</section>
		</article>
		<div class="image">
			<img
				src="https://res.cloudinary.com/upwork-cloud-acquisition-prod/image/upload/c_scale,w_580,h_580,f_auto,q_auto,dpr_2.0/brontes/hero/globe@2x.jpg"
				alt=""
			/>
		</div>
	</section>

	<section class="popular_categories">
		<div>
			<h2>Explore popular categories.</h2>
			<p>We have the best home fitness equipment at every price point.</p>
		</div>
		<div class="box-container">
			<div class="box">
				<div>
					<img src="/assets/treadmill.svg" alt="" />
				</div>
				<p>Treadmills</p>
			</div>
			<div class="box">
				<div>
					<img src="/assets/elliptical.svg" alt="" />
				</div>
				<p>Ellipticals</p>
			</div>
			<div class="box">
				<div>
					<img src="/assets/indoorcycle.svg" alt="" />
				</div>
				<p>Indore Cycles</p>
			</div>
			<div class="box">
				<div>
					<img src="/assets/climber.svg" alt="" />
				</div>
				<p>Climbers</p>
			</div>
			<div class="box">
				<div>
					<img src="/assets/rower.svg" alt="" />
				</div>
				<p>Rowers</p>
			</div>
			<div class="box">
				<div>
					<img src="/assets/accessories.svg" alt="" />
				</div>
				<p>Accessories</p>
			</div>
		</div>
	</section>

	<section class="feature">
		<div class="bigImg">
			<img
				src="https://plus.unsplash.com/premium_photo-1661920538067-c48451160c72?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8dHJlYWRtaWxsfGVufDB8fDB8fHww"
				alt=""
			/>
		</div>
		<div class="feat-product-container">
			<div>
				<h2>Matrix Treadmill Savings</h2>
				<p>Save up to $1,800 on club-quality treadmills for a limited time.</p>
				<button>Shop All</button>
			</div>
			<div class="feat-product">
				<div class="product-card">
					<div>
						<img
							src="https://txz27ptd.tinifycdn.com/Content/product_images/250/MXTF50-03.png"
							alt=""
						/>
					</div>
					<div>
						<h3>Matrix T1 Treadmill</h3>
						<p>$4600-$8400</p>
					</div>
				</div>
				<div class="product-card">
					<div>
						<img
							src="https://txz27ptd.tinifycdn.com/Content/product_images/250/MXTF50-03.png"
							alt=""
						/>
					</div>
					<div>
						<h3>Matrix T50 Treadmill</h3>
						<p>$4600-$8400</p>
					</div>
				</div>
				<div class="product-card">
					<div>
						<img
							src="https://txz27ptd.tinifycdn.com/Content/product_images/250/MXTF50-03.png"
							alt=""
						/>
					</div>
					<div>
						<h3>Matrix TF30 Treadmill</h3>
						<p>$4600-$8400</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="three-box-layout">
		<div class="heading">
			<h2>Shop more sales</h2>
		</div>
		<div class="container">
			<div class="sale-box">
				<img
					src="https://images.unsplash.com/photo-1599058917212-d750089bc07e?q=80&w=2938&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
					alt=""
				/>
				<div>
					<h3>Massage Deal of the week</h3>
					<p>Synca CirC+ massage chair only $1699</p>
				</div>
			</div>
			<div class="sale-box">
				<img
					src="https://images.pexels.com/photos/2261477/pexels-photo-2261477.jpeg?auto=compress&cs=tinysrgb&w=800"
					alt=""
				/>
				<div>
					<h3>NordicTrack Sale</h3>
					<p>Save upto $700 on NordicTrack cardio</p>
				</div>
			</div>
			<div class="sale-box">
				<img
					src="https://images.pexels.com/photos/1229356/pexels-photo-1229356.jpeg?auto=compress&cs=tinysrgb&w=800"
					alt=""
				/>
				<div>
					<h3>In-Store Floor Model Sale</h3>
					<p>Save upto 60% on floor models while supplies lasts</p>
				</div>
			</div>
		</div>
	</section>
</main>
