<main class="landing-page">
	<section class="hero">
		<aside class="text-container">
			<article class="slogan">
				<div class="heading">
					<h1>Redefine</h1>
					<h1>the norm...</h1>
				</div>
				<div class="para">
					<p>Break free from tradition. Assemble your dream team today.</p>
					<p>Right now. Right here.</p>
				</div>
				<div class="link">
					<a href="/register">
						<button class="btn-primary">
							Get Started
							<div class="arrow-wrapper">
								<div class="arrow"></div>
							</div>
						</button>
					</a>
				</div>
			</article>
			<article class="company-icons-wrapper">
				<h3>Trusted by</h3>
				<div class="company-icons">
					<img src="/assets/icons/ibm.svg" alt="" />
					<img src="/assets/icons/google.svg" alt="" />
					<img src="/assets/icons/microsoft.svg" alt="" />
					<img src="/assets/icons/netflix.svg" alt="" />
					<img src="/assets/icons/oracle.svg" alt="" />
					<img src="/assets/icons/amazon.svg" alt="" />
				</div>
			</article>
		</aside>
		<aside class="image">
			<img src="/assets/images/hero-img.png" alt="" />
		</aside>
	</section>

	<section class="popular_categories">
		<div>
			<h2>Explore popular categories.</h2>
			<p>Looking for work? Browse jobs</p>
		</div>
		<div class="box-container">
			<div class="box">
				<div>
					<img src="/assets/treadmill.svg" alt="" />
				</div>
				<p>Development and IT</p>
			</div>
			<div class="box">
				<div>
					<img src="/assets/elliptical.svg" alt="" />
				</div>
				<p>AI Services</p>
			</div>
			<div class="box">
				<div>
					<img src="/assets/indoorcycle.svg" alt="" />
				</div>
				<p>Sales and Marketing</p>
			</div>
			<div class="box">
				<div>
					<img src="/assets/climber.svg" alt="" />
				</div>
				<p>Writing and Translation</p>
			</div>
			<div class="box">
				<div>
					<img src="/assets/rower.svg" alt="" />
				</div>
				<p>Finance and Accounting</p>
			</div>
			<div class="box">
				<div>
					<img src="/assets/accessories.svg" alt="" />
				</div>
				<p>Design and Creative</p>
			</div>
		</div>
	</section>

	<section class="info-section">
		<aside class="img-wrapper">
			<img
				src="https://images.unsplash.com/photo-1664575262619-b28fef7a40a4?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8ZnJlZWxhbmNlfGVufDB8fDB8fHww"
				alt=""
			/>
		</aside>
		<aside class="text-container">
			<article class="head">
				<h2>
					Where Industry Leaders <br />
					Find Top Talent
				</h2>
				<p>
					Access the top 1% on SkillHub Connect, coupled with a suite of cutting-edge workforce management tools. Redefine innovation and embrace the future of success
				</p>
				<button class="btn-primary">Learn More</button>
			</article>
			<article class="list-wrapper">
				<li class="list-item">
					<div>
						<img src="/assets/screwdriver.svg" alt="" />
					</div>
					<div>
						<h3>Access expert talent to fill your skill gaps</h3>
					</div>
				</li>
				<li class="list-item">
					<div>
						<img src="/assets/briefcase.svg" alt="" />
					</div>
					<div>
						<h3>Control your workflow: hire, classify and pay your talent</h3>
					</div>
				</li>
				<li class="list-item">
					<div>
						<img src="/assets/headphone.svg" alt="" />
					</div>
					<div>
						<h3>Partner with SkillHub for end-to-end support</h3>
					</div>
				</li>
			</article>
		</aside>
	</section>

	<section class="three-box-layout">
		<div class="heading">
			<h2>
				Trusted by leading <br />
				brands and startups
			</h2>
		</div>
		<div class="container">
			<div class="sale-box">
				<div>
					<h3>Microsoft</h3>
					<q
						>One of the advantages of utilizing freelancers is finding talent
						with different skills quickly as our needs change.</q
					>
					<p>Carol Taylor, Director of Content Experience</p>
				</div>
			</div>
			<div class="sale-box">
				<div>
					<h3>Microsoft</h3>
					<q
						>One of the advantages of utilizing freelancers is finding talent
						with different skills quickly as our needs change.</q
					>
					<p>Carol Taylor, Director of Content Experience</p>
				</div>
			</div>
			<div class="sale-box">
				<div>
					<h3>Microsoft</h3>
					<q
						>One of the advantages of utilizing freelancers is finding talent
						with different skills quickly as our needs change.</q
					>
					<p>Carol Taylor, Director of Content Experience</p>
				</div>
			</div>
		</div>
	</section>
</main>
