@use '../utils/mixins' as m;

// Hero Section
.hero {
	min-height: 90svh;
	display: flex;
	align-items: stretch;

	.text-container {
		@include m.flex-column(3em);
		flex: 6;
		margin: auto;
		height: 100%;

		.heading {
            font-family: var(--serif-font);
			font-weight: 900;
			font-size: clamp(4em, 5vw, 5em);
			color: var(--primary-color-dark);
		}

		.para {
			p {
                @include m.para-font;
                margin: 0
			}
		}

		.slogan {
			@include m.flex-column(1.6em);
		}

		.company-icons-wrapper {
			@include m.flex-column(0.2em);
			h3 {
				color: var(--color-dull);
			}
			.company-icons {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                align-items: center;
                width: 40%;
                column-gap: 1em;
                img {
                    width: 100%;
                    height: 100%;
                }

                @media (max-width: 480px) {
                    width: 100%;
                }
            }
		}
	}
	.image {
		flex: 4;
		display: flex;
		justify-content: center;
		align-items: center;
		img {
			width: 100%;
		}
	}

	@media (max-width: 768px) {
		.image {
			display: none;
		}
	}
}


// Popular Section
.popular_categories {
	display: flex;
	flex-direction: column;

	.box-container {
		display: flex;
		justify-content: space-around;
		gap: 1.5em;
		flex-wrap: wrap;

		.box {
			flex: 1;
			background-color: var(--bg-color2);
			display: flex;
			flex-direction: column;
			padding: 1em;
			gap: 1em;
			border-radius: 0.8em;

			div {
				width: 100px;
				height: 100px;
				border-radius: 50%;
				display: flex;
				margin: auto;
				background-color: var(--color-dull);

				img {
					width: 100%;
				}
			}

			p {
				text-align: center;
			}
		}
	}
}

// Info Layout
.info-section {
    @include m.flex-column(1.2em);
    @media (min-width: 481px) {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        align-items: stretch;
        gap: 2em;
    }

	.img-wrapper {
        flex: 3;
		border-radius: 0.4em;
		overflow: hidden;
		aspect-ratio: 1/1;
        object-fit: cover;

        @media (min-width: 481px) and (max-width: 920px) {
            display: none;
        }
        
		img {
            width: 100%;
			aspect-ratio: 4/3;
            height: 100%
		}
	}

	.text-container {
		@include m.flex-column(1.8em);
        flex: 4;
        
        .head {
            @include m.flex-column(1em);
            align-items: flex-start;
            
            h2 {
                @include m.heading-font;
            }
            p {
                @include m.para-font;
            }
        }
        
		.list-wrapper {
            @include m.flex-column(0.6em);

			.list-item {
                background-color: var(--bg-color2);
                display: flex;
                gap: 0.6em;
				padding: 0.8em;

				div {
                    &:first-child {
                        display: flex;
                        width: 1.8em;

                        img {
                            width: 100%;
                        }
                    }
                    &:last-child {
                        display: flex;
                        align-items: center;
                    }
				}
			}
		}
	}
}
