@use '../utils/mixins' as m;

// Main Navigation
#navigation {
	@include m.shadow-2;

	nav {
		width: 95%;
		margin: auto;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 20px;
		transition: background-color 0.4s ease;
		background-color: transparent;

		

		&:last-child {
			display: flex;
		}
	}
}

.pages {
	flex: 4;

	display: flex;

	li {
		list-style: none;
		display: flex;
		justify-content: space-evenly;

		.nav {
			text-decoration: none;
			margin: 0 1.2em;
			padding: 0.5em 0;
			position: relative;
			isolation: isolate;

			&::after {
				content: '';
				position: absolute;
				z-index: -1;
				border-bottom: 2px solid var(--primary-color-dark);
				inset: 0;
				scale: 0 1;
				transition: scale 0.6s;
			}

			&:hover::after,
			&:focus-visible::after {
				scale: 1 1;
			}
		}
	}
}

.user-actions {
	flex: 3;
	display: flex;
	justify-content: end;
	align-items: center;
	list-style: none;
	gap: 1em;

	.search {
		background-color: #f6f6f6;
		height: 40px;
		padding: 1.15em 1.1em;
		border: 1px solid lightgray;
		border-radius: 1.2em;
		font-size: 1em;

		&:focus {
			color: black;
			outline-color: lightgray;
			transition: 0.1s;
			transition-property: box-shadow;
		}
	}

	div {
		display: flex;
		gap: 1em;
		justify-content: space-evenly;
	}
}

#admin-navigation {
	height: 100dvh;
	flex: 1.5;
	justify-content: center;

	nav {
		ul {
			@include m.flex-column;
			width: 90%;
			padding: 0;
			margin: auto;
			height: 100%;

			li {
				a {
					width: 100%;
					height: 100%;
					margin: 0.2em;
					padding: 1em;
					border-radius: 0.6em;
					transition: all 0.25s ease;

					&:hover {
						background-color: #e2b3e2;
					}
				}
			}
		}
	}
}

.activeAdmin {
	background-color: #d69cd6;
}

.activeNav {
	color: var(--primary-color-dark) !important;
}
