@use '../utils/mixins' as m;

#navigation {
	display: flex;
	height: 10vh;
	align-items: center;
	justify-content: space-between;
	gap: 20px;
	width: 100vw;
	transition: background-color 0.4s ease;
	background-color: transparent;
	margin-right: 20px;
	box-shadow: #32325d40 0px 2px 5px -1px, #0000004d 0px 1px 3px -1px;

	#logo {
		width: 10%;

		img {
			width: 100%;
		}
	}

	&:last-child {
		display: flex;
	}

	@media screen and (max-width: 768px) {
		nav {
			position: fixed;
			bottom: 0;
			left: 0;
			width: 100%;
			background-color: #181e27;
			margin: 0;
			border-bottom: 2px solid;
			height: 6%;
			display: flex;
			justify-content: center;
			align-items: center;

			ul {
				display: flex;
				justify-content: space-between;
				padding: 0;
				width: 90%;

				li {
					&:first-child {
						display: flex;
					}
				}
			}
		}

		.container {
			width: 60%;
			margin: 1em;
		}
	}
}

nav {
	flex: 4;

	ul {
		display: flex;

		li {
			list-style: none;
			display: flex;
			justify-content: space-evenly;

			a {
				text-decoration: none;
				margin: 20px;
			}
		}
	}
}

.user-actions {
	flex: 3;
	display: flex;
	justify-content: center;
	align-items: center;
	list-style: none;
	gap: 1em;

	.search {
		background-color: #f6f6f6;
		height: 40px;
		padding: 1.15em 1.1em;
		border: 1px solid lightgray;
		border-radius: 1.2em;
		font-size: 1em;

		&:focus {
			color: black;
			outline-color: lightgray;
			transition: 0.1s;
			transition-property: box-shadow;
		}
	}

	div {
		display: flex;
		gap: 1em;
		justify-content: space-evenly;
	}
}

#admin-navigation {
	height: 100dvh;
	flex: 1.5;
	justify-content: center;

	.profile-info {
		width: 90%;
		margin: auto;
		@include m.flex-column;
		gap: 1em;
		text-align: center;

		article {
			@include m.flex-column;
			gap: 0.4em;
            
			div {
				@include m.flex-column;
				width: 40%;
				margin: auto;
			}
		}
	}

	nav {
		ul {
			@include m.flex-column;
			width: 90%;
			padding: 0;
			margin: auto;
			height: 100%;

			li {
				a {
					width: 100%;
					height: 100%;
					margin: 0;
					padding: 1em;
					border-radius: 0.6em;
					transition: all 0.25s ease;

					&:hover {
						background-color: #d69cd6;
					}
				}
			}
		}
	}
}
