.btn-primary {
	box-sizing: border-box;
	border: 0;
	border-radius: 20px;
	color: #fff;
	padding: 1em 1.8em;
	background: var(--primary-color-dark);
	display: flex;
	transition: 0.2s background;
	align-items: center;
	gap: 0.6em;
	font-weight: bold;
	cursor: pointer;

	&:hover {
		background-color: #111;

		.arrow-wrapper {
			.arrow {
				background: #fff;

				&:before {
					right: 0;
				}
			}
		}
	}

	.arrow-wrapper {
		display: flex;
		justify-content: center;
		align-items: center;

		.arrow {
			margin-top: 1px;
			width: 10px;
			background: var(--primary-color-dark);
			height: 2px;
			position: relative;
			transition: 0.2s;

			&::before {
				content: '';
				box-sizing: border-box;
				position: absolute;
				border: solid #fff;
				border-width: 0 2px 2px 0;
				display: inline-block;
				top: -3px;
				right: 3px;
				transition: 0.2s;
				padding: 3px;
				transform: rotate(-45deg);
			}
		}
	}
}

.btn-secondary {
    all: unset;
    font-size: 1rem;
    background-color: green;
    color: white;
    cursor: pointer;
    transform: all 0.3s ease;
    border-radius: 2em;
    padding: 0.6em 1em;

    &:hover {
        background-color: rgb(2, 102, 2);
    }
}