.link {
    button {
  box-sizing: border-box;
  border: 0;
  border-radius: 20px;
  color: #fff;
  padding: 1em 1.8em;
  background: #645bff;
  display: flex;
  transition: 0.2s background;
  align-items: center;
  gap: 0.6em;
  font-weight: bold;
}

button .arrow-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

button .arrow {
  margin-top: 1px;
  width: 10px;
  background: #645bff;
  height: 2px;
  position: relative;
  transition: 0.2s;
}

button .arrow::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  display: inline-block;
  top: -3px;
  right: 3px;
  transition: 0.2s;
  padding: 3px;
  transform: rotate(-45deg);
}

button:hover {
  background-color: #111;
}

button:hover .arrow {
  background: #fff;
}

button:hover .arrow:before {
  right: 0;
}
}