@use '../utils/mixins' as m;

// Card 1
.admin-service-card {
  @include m.flex-column(0.2em);
  @include m.shadow-1;
	width: 100%;
  min-height: fit-content;
	border-radius: 0.8em;
	backdrop-filter: blur(0.8em);
	transition: 0.5s ease-in-out;
	cursor: pointer;
  overflow: hidden;

		.text-container {
			flex: 8;
      width: 90%;
      margin: auto;
			font-family: 'Poppins' sans-serif;


			.textContent {
				display: flex;
				align-items: center;
				justify-content: space-between;
			}
		}


.service-bottom-container {
  display: flex;
  align-items: center;
  padding: 0.6em 0;
  justify-content: space-between;
  width: 90%;
  margin: auto;

  .service-price {
    margin: 0;
    font-size: 1.3em;
  }

  .buttons {
    display: flex;
    gap: 0.6em;
  }

  form {
    button {
      all: unset;
    }
  }
}
}

// Card 2
.profile-card {
	width: 90%;
	margin: auto;
	@include m.flex-column(1em);
	text-align: center;

	article {
		@include m.flex-column(0.4em);

		div {
			@include m.flex-column(0.6em);
			width: 40%;
			margin: auto;

			img {
				border-radius: 50%;
				aspect-ratio: 1/1;
			}
		}
	}
}


// Card 2
.add-card {
  @include m.flex-column(0.6em);
  @include m.shadow-1;
  border-radius: 0.8em;
  justify-content: center;
  align-items: center;
  min-height: 42dvh;

  .icon-container {
    @include m.flex-column(0.2em);
    width: 40%;


    img {
      width: 100%;
    }
  }
}


// card 3
.job-card {
@include m.shadow-1;
border-radius: 0.6em;
padding: 1em;
margin: 1em 0;

.text-title {
  font-size: 1.4em;
  margin-bottom: 0.2em;
}
}