@use '../utils/mixins' as m;

// Card 1
.admin-service-card {
  @include m.flex-column;
  @include m.shadow-1;
	width: 100%;
	border-radius: 0.8em;
	align-items: center;
	justify-content: left;
	backdrop-filter: blur(10px);
	transition: 0.5s ease-in-out;
	cursor: pointer;
  overflow: hidden;


	.img-container {
		flex: 4;
		img {
			width: 100%;
      object-fit: cover;
      aspect-ratio: 5/3;
		}

  }

		.text-container {
			flex: 8;
			margin-left: 10px;
			font-family: 'Poppins' sans-serif;

			.textContent {
				display: flex;
				align-items: center;
				justify-content: space-between;
			}
		}
}

// Card 2
.profile-card {
	width: 90%;
	margin: auto;
	@include m.flex-column;
	gap: 1em;
	text-align: center;

	article {
		@include m.flex-column;
		gap: 0.4em;

		div {
			@include m.flex-column;
			width: 40%;
			margin: auto;

			img {
				border-radius: 50%;
				aspect-ratio: 1/1;
			}
		}
	}
}
