	<section class="basic-details">
		<article>
            <div class="product-specs-container">
                <h2><%= info.title %></h2>
                <p><%= info.description %></p>
                <h3>$ <%= info.price %></h3>
            </div>
		</article>
	</section>
