<section class="job-listing-page">
		<% for (job of jobs) { %>
		<article class="job-card">
			<a href="/job/<%= job._id %>">
				<p class="text-title"><%= job.title %></p>
				<p class="text-body"><%= job.description %></p>
			</a>
			<div class="card-footer">
				<span class="text-title">$ <%= job.price %></span>
			</div>
		</article>
		<% } %>
</section>